* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 1000px;
}

.cardFlex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: 5px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
