* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardFlex {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px; */
}

.card {
  
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}